*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: InterRegular;
  src: url("../src/components/Fonts/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: InterBold;
  src: url("../src/components/Fonts/inter/Inter-Bold.ttf");
}

@font-face {
  font-family: SourRegular;
  src: url("../src/components/Fonts/Sarpanch/Sarpanch-Regular.ttf");
}